.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh {
    position: absolute;
    right: 10px;
}

.post {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
